@import url("https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Pixelify+Sans:wght@400..700&display=swap");

@font-face {
  font-family: "Hellovetica";
  src: url("../fonts/HelloveticaReg.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc3d539;
}

.title {
  text-align: center;
  font-family: "Jacquarda Bastarda 9", cursive;
}

h3.title {
  font-size: 1.5em;
  color: #ffa0bd;
}

#float {
  margin-bottom: 1.27em;

  text-shadow: #ffaac4 0px 0px 8px;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* buttons */
.homepageBtns {
  background-color: #ee8aa8;
  color: white;
  border: none;
  border-radius: 1em;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  box-shadow: 0 0 16px 0 #ee8aa88e;

  padding: 1em;
  margin: 0.5em;

  font-family: "Pixelify Sans", sans-serif;
  letter-spacing: 0.1rem;

  filter: brightness(1);
  transform: scale(1);
}

.homepageBtns:hover {
  filter: brightness(1.127);
  cursor: pointer;
  transform: scale(1.05);
}

p {
  font-family: "Hellovetica", monospace;
  font-size: 0.05em;
}

/* popup container */
.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #37373737;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
}

.popup-container.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.4s ease;
}

.popup-container .popup-box {
  width: 450px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  text-align: center;
  padding: 30px;
}

.popup-container.active .popup-box {
  transition: 0.4s ease-in-out;
  transition-delay: 0.25s;
}

.popup-box .popup-bottons {
  padding: 10px 20px;
  background-color: lightpink;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 10px #0000001a;
  cursor: pointer;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Pixelify Sans", sans-serif;
  margin: 1.27em 5px auto 5px;

  transform: scale(1);
  transition: 0.22s ease-in-out;
}

.popup-box .popup-bottons:hover {
  text-shadow: #ffffffc1 0px 0px 10px;
  transform: scale(1.05);
}

/* form */
.input-box input {
  width: 60%;
  height: 1.75em;
  outline: none;
  margin: 10px auto;
  border: none;
  border-bottom: 2px solid lightcoral;
  background-color: #fff9f9;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
}

#close-button {
  position: absolute;
  right: 8.25rem;

  cursor: pointer;
  color: #ee8aa8;
  filter: brightness(1);
  transform: scale(1);
  transition: 0.22s ease-in-out;
}

#close-button:hover {
  filter: brightness(1.25);
  transform: scale(1.127);
}

/* invalid input */
#invalid-input {
  color: #fe6391;
  font-size: 0.8em;
  font-family: "Pixelify Sans", sans-serif;
  margin: 20px auto 5px auto;
  display: none;
}

