@import url("https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Pixelify+Sans:wght@400..700&display=swap");

@font-face {
  font-family: "Hellovetica";
  src: url("../fonts/HelloveticaReg.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.title {
  text-align: center;
  font-family: "Jacquarda Bastarda 9", cursive;
}
/* buttons */
.homepageBtns {
  background-color: #ee8aa8;
  color: white;
  border: none;
  border-radius: 1em;
  text-align: center;
  display: inline-block;
  transition-duration: 0.4s;
  box-shadow: 0 0 16px 0 #ee8aa88e;

  padding: 1em;
  margin: 0.5em;

  font-family: "Pixelify Sans", sans-serif;
  letter-spacing: 0.1rem;

  filter: brightness(1);
}

.homepageBtns:hover {
  filter: brightness(1.127);
  cursor: pointer;
}

p {
  font-family: "Hellovetica", monospace;
  font-size: 0.05em;
}

/* popup container */
.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3a3a3a2a;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
}

.popup-container.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.4s ease;
}

.popup-container .popup-box {
  width: 450px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  text-align: center;
  padding: 30px;
  transform: scale(0);
}

.popup-container.active .popup-box {
  transform: scale(1);
  transition: 0.4s ease;
  transition-delay: 0.25s;
}

.popup-box #close-button {
  width: 100%;
  height: 45px;
  background-color: lightpink;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 10px #0000001a;
  cursor: pointer;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Pixelify Sans", sans-serif;
  margin-top: 1.27em;
  transition: 0.22s ease-in-out;
}

.popup-box #close-button:hover {
  text-shadow: #ffffffc1 0px 0px 10px;
}
